.nav{
    margin: 10px ;
    padding: 5px ;
    width: 97vw;
    height: 50px;
    background-color: #A6D2C6; 
    position: sticky;
    top: 20px;
    
}
li{
display: inline-block;
}
a{      
    color: #ffffff;
    padding: 5px 5px;
    text-decoration: none;
    list-style: none;
}
li a:hover{    
    /*change the link color on hover*/
    
    background-color: #8FA9A0; 
    color: #E1E3D7;
}
.mainbox{
    width: 50vw;
    height: 35vw;
    border-width: 1px;
    border-style: solid;
    margin: 1vw;
    float: left;
    background-color:#EDF7EF ;
    border-color: #EDF7EF;
    font-style: italic;
    color: #9E5438;
    font-size: 2vw;
    
}
.bottom{
    width: 97.5vw;
    height: 8vw;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    clear: both;
    background-color: #A6D2C6;
    border-color: #A6D2C6;
}
.picbox{
    width: 41vw;
    height: 35vw;
    border-width: 1px;
    border-style: solid;
    margin: 1vw; 
    float: right; 
}
.picture{
    width: 41vw;
    height: 35vw;
}
.text{
    color: #9E5438;
    font-style: italic ;
    font-size: 1vw;
    display: inline-block;
}
.insta{
    width:4vw;
    height:4vw;
    float:inline-end
}
